//=== keyframes for About Page ===
@keyframes bounce {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(40%);
        color: rgb(224, 110, 110)
     
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes flash-one {
        0% {
        background: radial-gradient(circle, #b7c9e2 0%, #7fa1c4 100%);
    }
    50% {
        background: radial-gradient(circle at 40% 60%, #f7cac9 0%, #92a8d1 100%);;
    }
    100% {
        
        background: radial-gradient(circle at 60% 40%, #c7b8e6 0%, #8f8fc1 100%)
    }
}
@keyframes flash-two {
  0% {
    background: radial-gradient(circle at 60% 40%, #52b788 0%, #b7e4c7 100%);
  }
  50% {
    background: radial-gradient(circle, #b8e1dd 0%, #89b0ae 100%);
  }
  100% {
    background: radial-gradient(circle, #e3c7e9 0%, #b296c7 100%);
  }
    
    
}

@keyframes spinAndPop {
    0% {
      transform: rotate(0deg) scale(1) perspective(500px) translateZ(0);
      opacity: 1;
    }
    50% {
      transform: rotate(180deg) scale(1.2) perspective(500px) translateZ(50px);
      opacity: 1;
    }
    100% {
      transform: rotate(360deg) scale(1) perspective(500px) translateZ(0);
      opacity: 1;
    }
  }