//=== keyframes for About Page ===
@keyframes bounce {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(40%);
        color: rgb(224, 110, 110)
     
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes flash-one {
   0% {
    background: radial-gradient(ellipse at top left, #ffd6d6 0%, #a0c4ff 100%);
  }
  50% {
    background: radial-gradient(circle at 70% 30%, #bdb2ff 0%, #ffc6ff 100%);
  }
  75%{
     background: radial-gradient(circle at 80% 60%, #b5ead7 0%, #ffdac1 100%);
  }
  100% {
    background: radial-gradient(circle at 20% 80%, #f1c0e8 0%, #a3c4f3 100%);
  }
    
}
@keyframes flash-two {
  0% {
    background: radial-gradient(circle at 80% 60%, #b5ead7 0%, #ffdac1 100%);
  }
  50% {
    background: radial-gradient(ellipse at center, #c7ceea 0%, #f3b0c3 100%);
  }
  75%{
     background: radial-gradient(ellipse at top left, #ffd6d6 0%, #a0c4ff 100%);
  }
  100% {
    background: radial-gradient(ellipse at bottom right, #caffbf 0%, #9bf6ff 100%)
    
  }
    
    
}

@keyframes spinAndPop {
    0% {
      transform: rotate(0deg) scale(1) perspective(500px) translateZ(0);
      opacity: 1;
    }
    50% {
      transform: rotate(180deg) scale(1.2) perspective(500px) translateZ(50px);
      opacity: 1;
    }
    100% {
      transform: rotate(360deg) scale(1) perspective(500px) translateZ(0);
      opacity: 1;
    }
  }