#about-body {
    @media (min-width: 768px) {
        background:
            linear-gradient(
                to bottom,
                rgba(0, 0, 0, 0.5) 0%,
                rgba(0, 0, 0, 0.5) 50%,
                #000 50%,
                #000 100%
            ),
            url("../images/aerial-photography-of-city-during-evening-161772.webp") no-repeat center top;
        background-size: cover;
        background-attachment: fixed; // Optional, for parallax effect
    }
    color: white;
    position: relative;
    padding: 1em;
}
.navbar{
    font-size: 20px;
    padding-top: 1rem;
}
.grid{
    display: grid;
    @media(min-width:768px){
        font-size: 24px;
        grid-template-columns: 1fr 1fr;
        margin-top: 6rem;
        grid-column-gap: 2rem;
    }
    @media(min-width:1600px){
        margin-top: 6rem;
    }
    .img-cont{
        max-width: 500px;
        @media(min-width:768px){
         margin-left: auto;
        }
        img{
            width: 100%;
            height: 100%;
            border-radius: 20px;
            background: cover;
        }
    }
    .content-div{
        max-width: 500px;
        margin-top: 3em;
        @media (min-width: 768px){
            margin-top: 0;
        }
        h1{
            animation:bounce 3s ease-in;
            @media(min-width: 768px){
                font-size: 40px;
                margin-top: 0;
            }
        }
        @media(min-width:768px){
            margin-right: 1.5em;
           
        }
    }
    .skills-cont {
        margin-top: 1.5em;
        text-align: center;
        display: flex;
        flex-direction: column;
      
        @media(min-width:768px){
            text-align: initial;
            position: absolute;
            top: 15em;
            margin-top: 2em;
        }
        h2{
            margin-bottom: 0;
        }
        ul{
            list-style-type: none;
            padding-left: 0;
            width: 50%;
            margin: 0 auto;
            @media(min-width:768px){
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                div + div {
                    margin-left: 2em;
                }
            }
            li{
                border-radius: 12px;
                width: 100%;
                padding: 10px;
                text-align: center;
                margin-top: 10px;
                font-weight:bold;
            }
          
            li:nth-child(odd){
                animation: flash-one 2s infinite alternate;
                
            }
            li:nth-child(even){
                animation: flash-two 2s infinite alternate;
            }
        }
    }
}



