body{
    // background-color: black;
    color: white;
    position: relative;
    padding: 1em;
    // width: 80%;
    margin: 0 auto;
    display: grid;
    height: 60vh;
    font-family: "Gruppo", serif;
    font-weight: 400;
    font-style: normal;
     background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/aerial-photography-of-city-during-evening-161772.jpg") no-repeat center fixed;
   
    main {
        place-self: center;
        align-self: center;
        h1 {
            font-size: xx-large;
            span{
                font-size: 60px;
            }
        }
    }
}
